@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

html, body {
  height: 100%;
  font-family: 'M PLUS Rounded 1c', sans-serif; }

.container {
  width: 938px;
  margin: 0px auto; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 30px 0; }

.header__menu li {
  list-style-type: none; }

.menu__link {
  font-size: 18px;
  line-height: 22px;
  color: #828282; }
  .menu__link:hover {
    color: #070707; }

.header__nav {
  height: 87px;
  border-bottom: 1px solid #828282; }

/*----------------------------------Первый блок---------------------------*/
.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 30px 0px 50px 0px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.name {
  font-size: 48px;
  line-height: 59px;
  color: #070707; }

.years {
  font-size: 18px;
  line-height: 22px;
  color: #070707; }

.language {
  font-size: 16px;
  line-height: 20px;
  color: #070707; }

/*--------------------Второй блок aboutme---------------------------*/
.block__aboutme {
  background: #F6F6F6;
  height: 506px;
  left: 0px;
  top: 768px;
  margin: 104px 0px; }

h2 {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  padding: 120px 0px 0px 0px; }

.aboutme {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin: 17.69px 0px; }

.aboutme__1 {
  padding: 0px 0px 30px 0px; }

/*---------------------Третий блок Skills ---------------------------*/
h3 {
  text-align: center;
  font-size: 34px;
  line-height: 42px; }

.block__skills {
  height: 500px; }

.string {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 50px 0px;
  text-decoration: underline; }
  .string:nth-child(4) {
    text-decoration: none; }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 83px 0px; }

.img__ph {
  text-align: center;
  position: relative;
  top: -85px; }

.img__ph__2 {
  position: relative;
  text-align: center; }

.icon__photo {
  text-align: center; }

.icon__text {
  font-size: 14px;
  line-height: 17px;
  padding: 0px 0px 30px 0px; }

.icon__text_figma {
  margin: 98px 0px 33px 0px; }

.block__portfilio {
  height: 2150px;
  background: #F6F6F6; }

.portfolio__block {
  text-align: center; }

.contacts__block {
  width: 300px;
  margin: 0px auto;
  text-align: center; }

.contacts__bottomn {
  text-align: center;
  text-decoration: none;
  margin: 0px 0px 79px 0px; }

.bottomn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #f7f3ea;
  display: inline-block;
  background-color: #070707;
  padding: 15px 40px;
  border-radius: 50px;
  margin: 10px 0px; }

.contacts__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 0px 45px 0px; }

.contacts__use {
  padding: 0px 0px 123px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #828282; }
